// Font import and sizing

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

* {
  box-sizing: border-box;
  margin: 0em;
  padding: 0em;
}

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

$mod_1: 1.1; // mobile
$mod_2: 1.3; // desktop

h1 {
  font-size: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $min_font
  );
  line-height: 1.2em;
}
h2 {
  font-size: $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $min_font
  );
  line-height: 1.4em;
}
h3 {
  font-size: $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $min_font
  );
  line-height: 1.2em;
}

// general stuff

body {
  font-family: "Montserrat", sans-serif;
}

.button-pitch {
  width: 10em;
  border: 3px solid #64d959;
  border-radius: 5px;
  color: #64d959;
  background-color: rgba(255, 255, 255, 0.527);
  font-size: 1.2em;
  margin: 0.5em;
  padding: 0.3em;
  cursor: pointer;
}

.button-pitch:hover {
  color: white;
  background-color: #64d959;
}

.button-support {
  width: 10em;
  border: 3px solid #64d959;
  border-radius: 5px;
  color: white;
  background-color: #64d959;
  font-size: 1.2em;
  margin: 0.5em;
  padding: 0.3em;
  cursor: pointer;
}

.button-support:hover {
  background-color: #5ac250;
  border: 3px solid #5ac250;
}

// sections

.hero-section {
  min-height: 100vh;
  background-image: url(media/hero.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .wrapper {
    margin: 1em;
    max-width: 1000px;

    p {
      padding: 1em 0;
      font-size: 1.5em;
    }
  }
}

.hackathon-projects {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 0.5em;
  background: #eae8eb;
  align-items: center;
  justify-content: center;
  h2 {
    width: 100%;
    text-align: center;
  }
  img {
    width: 10em;
    padding: 1em 0.2em 0 0.2em;
  }
}

.problem {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  margin: 1em 0;
  align-items: center;
  justify-content: center;
  img {
    padding: 1em;
    width: 20rem;
  }
  h2 {
    margin: 1em 0;
  }
  p {
    margin: 0 0 1.5em 0;
  }
  .wrapper {
    max-width: 40rem;
  }
}

.supporter {
  background: #eae8eb;

  .quote {
    height: 40vh;
    background-image: url(media/quote.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      max-width: 900px;
      font-size: 0.8em;
      color: #fffdfd;
      text-shadow: 2px 2px 4px #000000;
      font-size: 1.5em;
    }
  }
  h2 {
    text-align: center;
    margin: 2em 0;
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 3em 0;

    img {
      height: 5em;

      margin: 1em;
      padding: 0.3em;
    }
  }
}

#bcg-logo {
  margin: 0 5.5em;
}

.three-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    max-width: 750px;
    margin: 1em 0.5em;
    text-align: center;
  }
  h3 {
    margin: 1em 0.5em;
  }
  .projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .project {
      background: #ffffff;
      box-shadow: 2px 3px 4px #dfdfdf;
      border-radius: 9px;

      width: 17rem;
      margin: 1em;
      padding: 0.5em;
      img {
        width: 16em;
        border-radius: 9px;
      }
      h4 {
        margin-top: 1em 0;
        font-size: 0.9em;
      }
      .expl {
        margin-bottom: 1em;
        font-style: italic;
      }
      p {
        margin-bottom: 1em;
        font-size: 0.75em;
      }
      a {
        text-decoration: none;
        color: #64d959;
        text-transform: uppercase;
      }
    }
  }
  .fusion {
    width: 20em;
    margin: 2em 0 3em 0;
  }
}

.together {
  background: #eae8eb;
  padding: 1em;
  margin: 2em 0;
  h2 {
    text-align: center;
    margin: 1em 0;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
    img {
      height: 10em;
      width: 10em;
      border-radius: 50%;
      background-color: #b1b1b1;
    }
    p {
      max-width: 15em;
      margin-left: 1em;
      font-size: 1.2em;
    }
  }
}

.edumentoring {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    max-width: 750px;
    margin: 1em 0.5em;
    text-align: center;
  }

  .fusion {
    width: 20em;
    margin: 2em 0 3em 0;
  }
}

.process {
  h2 {
    text-align: center;
    margin: 3em 1.5em 1em 1.5em;
  }

  .charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .chart {
      background: #ffffff;
      box-shadow: 2px 3px 4px #dfdfdf;
      border-radius: 9px;

      width: 20rem;
      margin: 1em;
      padding: 0.5em;

      h3 {
        background: #aceaa7;
        border-radius: 5px;
        padding: 1em;
      }
      p {
        padding: 1em 0.5em;
      }
    }
  }
}

.support-us {
  display: flex;
  align-items: center;
  flex-direction: column;
  h2 {
    text-align: center;
    margin: 2em 0 1em 0;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
      padding: 1em;
      max-width: 20em;
    }
    p {
      padding: 1em;
      max-width: 25rem;
    }
  }
  button {
    margin: auto;
  }
  h3 {
    padding: 1em;
    text-align: center;
  }
}

footer {
  margin-top: 1em;
  background-color: #b1b1b1;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    li {
      margin: 1em;
      cursor: pointer;
    }
  }
}
