@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0em;
  padding: 0em;
}

html {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc( 16px + 8 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 24px;
  }
}

h1 {
  font-size: 1.4641rem;
  line-height: 1.2em;
}

h1 {
  font-size: 21.296px;
}

@media screen and (min-width: 320px) {
  h1 {
    font-size: calc( 21.296px + 13.856 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 35.152px;
  }
}

h2 {
  font-size: 1.331rem;
  line-height: 1.4em;
}

h2 {
  font-size: 21.296px;
}

@media screen and (min-width: 320px) {
  h2 {
    font-size: calc( 21.296px + 13.856 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 35.152px;
  }
}

h3 {
  font-size: 1.21rem;
  line-height: 1.2em;
}

h3 {
  font-size: 19.36px;
}

@media screen and (min-width: 320px) {
  h3 {
    font-size: calc( 19.36px + 7.68 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  h3 {
    font-size: 27.04px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

.button-support {
  width: 10em;
  height: 2em;
  border: 3px solid #64d959;
  border-radius: 5px;
  color: white;
  background-color: #64d959;
  font-size: 1.2em;
  padding: 0.3em;
  cursor: pointer;
}

.button-support:hover {
  background-color: #5ac250;
  border: 3px solid #5ac250;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  -webkit-box-shadow: 2px 3px 4px #dfdfdf;
          box-shadow: 2px 3px 4px #dfdfdf;
}

header img {
  width: 15em;
}

header a {
  text-decoration: none;
  color: #333333;
}

header a:hover {
  color: #4e4e4e;
}

.hero-section {
  min-height: 70vh;
  background-image: url(media/hero.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-section .wrapper {
  margin: 1em;
  max-width: 1000px;
}

.hero-section .wrapper p {
  padding: 1em 0;
  font-style: italic;
}

.hackathon-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2em 0.5em;
  background: #eae8eb;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hackathon-projects h2 {
  width: 100%;
  text-align: center;
}

.hackathon-projects img {
  width: 10em;
  padding: 1em 0.2em 0 0.2em;
}

.problem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em;
  margin: 1em 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.problem img {
  padding: 1em;
  width: 20rem;
}

.problem h2 {
  margin: 1em 0;
}

.problem p {
  margin: 0 0 1.5em 0;
}

.problem .wrapper {
  max-width: 40rem;
}

.supporter {
  background: #eae8eb;
}

.supporter .quote {
  height: 40vh;
  background-image: url(media/quote.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.supporter .quote h2 {
  max-width: 900px;
  font-size: 0.8em;
  color: #fffdfd;
  text-shadow: 2px 2px 4px #000000;
  font-size: 1.5em;
}

.supporter h2 {
  padding-top: 2em;
  text-align: center;
  margin: 2em 0;
}

.supporter .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3em 0;
}

.supporter .logos img {
  height: 5em;
  margin: 1em;
  padding: 0.3em;
}

#bcg-logo {
  margin: 0 5.5em;
}

.three-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.three-projects h2 {
  max-width: 750px;
  margin: 1em 0.5em;
  text-align: center;
}

.three-projects h3 {
  margin: 1em 0.5em;
}

.three-projects .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.three-projects .projects .project {
  background: #ffffff;
  -webkit-box-shadow: 2px 3px 4px #dfdfdf;
          box-shadow: 2px 3px 4px #dfdfdf;
  border-radius: 9px;
  width: 17rem;
  margin: 1em;
  padding: 0.5em;
}

.three-projects .projects .project .wrapper {
  height: 13em;
}

.three-projects .projects .project .wrapper img {
  width: 16em;
  border-radius: 9px;
}

.three-projects .projects .project h4 {
  margin-top: 1em 0;
  font-size: 0.9em;
}

.three-projects .projects .project .expl {
  margin-bottom: 1em;
  font-style: italic;
}

.three-projects .projects .project p {
  margin-bottom: 1em;
  font-size: 0.75em;
}

.three-projects .projects .project a {
  text-decoration: none;
  color: #64d959;
  text-transform: uppercase;
}

.three-projects .fusion {
  width: 20em;
  margin: 2em 0 3em 0;
}

.together {
  background: #eae8eb;
  padding: 2em 0;
}

.together h2 {
  text-align: center;
  margin: 1em 0;
}

.together .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0;
}

.together .wrapper img {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  background-color: #b1b1b1;
}

.together .wrapper p {
  max-width: 15em;
  margin-left: 1em;
  font-size: 1.2em;
}

.process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.process h2 {
  max-width: 750px;
  margin: 1em auto;
  text-align: center;
}

.process .fusion {
  width: 20em;
  margin: 2em 0 3em 0;
}

.process h2 {
  text-align: center;
  margin: 3em 1.5em 1em 1.5em;
}

.process .charts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.process .charts .chart {
  background: #ffffff;
  -webkit-box-shadow: 2px 3px 4px #dfdfdf;
          box-shadow: 2px 3px 4px #dfdfdf;
  border-radius: 9px;
  width: 20rem;
  margin: 1em;
  padding: 0.5em;
}

.process .charts .chart h3 {
  background: #aceaa7;
  border-radius: 5px;
  padding: 1em;
}

.process .charts .chart p {
  padding: 1em 0.5em;
}

.support-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.support-us h2 {
  text-align: center;
  margin: 2em 0 1em 0;
}

.support-us .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.support-us .wrapper img {
  padding: 1em;
  max-width: 20em;
}

.support-us .wrapper .content {
  padding: 1em;
  max-width: 25rem;
}

.support-us .wrapper .content ul {
  margin: 1em 0;
}

.support-us .wrapper-bottom {
  max-width: 45em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.support-us button {
  margin: auto;
}

.support-us h3 {
  padding: 1em;
  text-align: center;
}

footer {
  margin-top: 1em;
  background-color: #b1b1b1;
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul li {
  margin: 1em;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */